<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.hattai.payments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Adyen Configuration -->
    <add key="adyen.merchantAccount" value="Goycoolea" />
    <add key="adyen.shopperIP" value="178.255.199.27" />
    <add key="adyen.user" value="ws@Company.Goycoolea" />
    <add key="adyen.pwd" value="Goycoolea1234$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PaymentHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment" binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding" contract="AdyenGatewaySandbox.PaymentPortType" name="PaymentHttpPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <com.hattai.payments.Properties.Settings>
      <setting name="adyenMerchantAccount" serializeAs="String">
        <value>GoycooleaCL</value>
      </setting>
      <setting name="adyenDirectPaymentUser" serializeAs="String">
        <value>ws@Company.Goycoolea</value>
      </setting>
      <setting name="adyenDirectPaymentPwd" serializeAs="String">
        <value>Goycoolea1234$</value>
      </setting>
      <setting name="com_hattai_core_payments_AdyenSandbox_Payment" serializeAs="String">
        <value>https://pal-test.adyen.com/pal/servlet/soap/Payment</value>
      </setting>
    </com.hattai.payments.Properties.Settings>
  </userSettings>
</configuration>